.container-5{
    justify-content: center;
    width: 100%;
    align-items: center;
    line-height: 10rem;
    color: #00113d;
}
.wrapper-5{
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.reviewClients{
    width: 20rem;
    height: 15rem;
    border-radius: 5px;
    /* border: 1px solid black; */
    margin: 10px;
    background-color: #f8f8f8;
}
.reviewClients:hover{
    background-color: #486092;
    cursor: pointer;
}
.clientName{
    font-size: 10px;
    color:#8b8a8d;
}
.reviewerName{
    font-size: 10px;
}
.heading{
    text-align: center;

}
.image{
    /* border: 2px solid black; */
    display: grid;
}
.detail{
    line-height: 2px;
    text-align: justify;
    padding-left: 12px;
}
.hover-text:hover{
    color: #f4d560;
    cursor: pointer;
}